master-config/flows.json
[{"id":"f6f2187d.f17a18","type":"tab","label":"OmniNode Dash","disabled":false,"info":""},{"id":"mqtt_in","type":"mqtt in","z":"f6f2187d.f17a18","name":"","topic":"omninode/vitals","qos":"2","datatype":"json","broker":"local_broker","x":120,"y":120,"wires":[["gauge_temp","text_rssi","debug_node"]]},{"id":"local_broker","type":"mqtt-broker","name":"Local Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"gauge_temp","type":"ui_gauge","z":"f6f2187d.f17a18","name":"","group":"node_group","order":1,"width":0,"height":0,"gtype":"gage","title":"Internal Temp","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3b33"],"seg1":"","seg2":"","x":380,"y":80,"wires":[],"property":"payload.temp"},{"id":"text_rssi","type":"ui_text","z":"f6f2187d.f17a18","group":"node_group","order":2,"width":0,"height":0,"name":"","label":"Signal Strength","format":"{{msg.payload.rssi}} dBm","layout":"row-spread","x":380,"y":140,"wires":[],"property":"payload.rssi"},{"id":"debug_node","type":"debug","z":"f6f2187d.f17a18","name":"Debug Logs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":200,"wires":[]},{"id":"node_group","type":"ui_group","name":"SENDER #1","tab":"main_tab","order":1,"disp":true,"width":"6","collapse":false},{"id":"main_tab","type":"ui_tab","name":"ESP32 Dashboard","icon":"dashboard","order":1}]